.Centrar-Medio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgMoto17743 {
    width: 768px;
    height: 480px;
}

.propjumbo {
    background-image: linear-gradient(to right top,#1ca5ab, white);
    color: black;
}


.rdbConsultar {
    margin-right: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
}

.rdbRegistrar {
    margin-right: 60px;
    font-style: normal;
    justify-content: center;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
}

.imgCliente {
    width: 592px;
    height: 444px;
}
